{% extends "base.html" %}

{% block content %}
<div class="content-list">
  {% for article in articles %}
    <div class="content__container">
      <a href="{{ SITEURL }}/{{ article.url }}">
        <div class="content__title">{{ article.title }}</div>
      </a>
      <div class="content__info">
        {{ article.date.strftime('%Y-%m-%d') }}
        {% if article.tags %} &bull;
          {% for tag in article.tags|sort(attribute='name') %}
            <a href="{{ SITEURL }}/tags/{{ tag.slug }}" class="tag">{{ tag.name }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
