---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

@import "variables";

@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/list-group";
@import "bootstrap/code";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/utilities";
@import "bootstrap/dropdown";
@import "bootstrap/card";
@import "bootstrap/buttons";
@import "bootstrap/images";
@import "bootstrap/transitions";

@import "rouge";


body {
  display: flex;
  margin: 15px;
  overflow-y: scroll;
  justify-content: center;
  font-family: "Open Sans (WOFF2)", "Open Sans (WOFF)", "Open Sans (TTF)", sans-serif;
}

p {
  font-weight: 500;
}

p > code, li > code {
  background-color: #f5f5f5;
  padding: 3px;
}
a {
  text-decoration: none;
  color: #428bca;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

.quote {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  font-style: italic;
}

.container {
  max-width: 1000px;
  width: 85%;
}
.subtlelink {
  color: #000;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__title {
  margin-bottom: 15px;
  font-size: 2rem;
}
.header__links > a {
  text-decoration: none;
  margin: 5px;
}
.content__container {
  margin-top: 15px;
}
.content__title {
  font-size: 1.6rem;
}
.content img {
  width: 100%;
  margin: 15px;
}
.content__info {
  color: gray;
}
.highlight > pre {
  padding: 10px;
  font-family: "Ubuntu Mono", Menlo, monospace;
  max-width: 100%;
  overflow-x: auto;
}

.post__title {
  font-size: 1.8rem;
  font-weight: bolder;
}

.tag__button {
  padding: .075rem .25rem;
  font-size: 0.9rem;
  border-radius: .25rem;
  // colors tentatively taken (and modified) from inline code blocks (`foo`)
  background-color: #f8f8f8;
  color: #d786ac;
  text-align: center;

  &:hover {
    text-decoration: none;
    background-color: #e7e7e7;
    color: #db8cb0;
  }
}

.tag__icon {
  margin-right: 0.2rem;
}

// make footnotes slightly larger than normal
.footnote {
  font-size: 15px;
}
