---
layout: default
---

<span class="post__title mr-2">{{ page.title }}</span>

{% if page.tags %}
  {% assign tags = page.tags | sort %}
  <span class="post__tags-container">
    {% for tag in tags %}
      <a href="/tags#{{ tag }}" class="tag tag__button"><i class="fas fa-tag tag tag__icon"></i>{{ tag }}</a>
    {% endfor %}
  </span>
  <br/>
{% endif %}

<p class="text-muted">{{ page.date |  date: "%A, %B %d, %Y" }}</p>

{{ content }}

<hr/>

<div class="d-flex flex-row">
  {% if page.previous.url %}
  	<a href="{{ page.previous.url }}" class="h6 text-dark"><i class="fas fa-long-arrow-alt-left"></i> {{ page.previous.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
  {% endif %}

	<div class="flex-grow-1"></div>

  {% if page.next.url %}
  	<a href="{{ page.next.url }}" class="h6 text-dark">{{ page.next.title | markdownify | remove: '<p>' | remove: '</p>' }} <i class="fas fa-long-arrow-alt-right"></i></div>
  {% endif %}
</div>
